<head>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/Clock.js"></script>
</head>

@using Schedule_It_2.Models
@model LoginViewModel

@{
    ViewBag.Title = "Home";
}
<h2>@ViewBag.Title.</h2>

<h4>Use a local account to log / clock in.</h4>
<hr />

<!-- Clock goes here -->
<div class="row mt-40">
    <div class="form-group">
        <div class="clock-container col-md-offset-4 col-md-3 ">
            <div id="clock" class="pill-clock">&nbsp</div>
        </div>
    </div>
</div>

    <section id="loginForm" class="mt-20">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "mt-10" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            
            // Login and Clock buttons
            <div class="form-group">
                 <div class="col-md-offset-4 col-md-3 text-center">
                    @*When Clock button clicked, create WorkTimeEvent object and route to WorkTimeEvents/Index*@
                    <input type="submit" value="Log in" class="btn btn-default" />
                    <button id="clockin" onclick="location.href='@Url.Action(" Index", "WorkTimeEvents" , new WorkTimeEvent
                            { EventId=Guid.NewGuid()})'" class="btn btn-default">Clock
                    </button><br />
                    <span class="text-center">Forgot <a href="#">password?</a></span>
                </div>
            </div>
        }

    </section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script>
        // Update the clock every 200ms. setting to value smaller than 1 sec eliminates the perceptible delay 
        // in displaying clock after page load.  Assuming this is not too big of a resource hog.
        setInterval(updateClock, 200) 
        function myFunction() {
            document.getElementById("clockin").innerHTML = "You have successfully clocked in";
        }
    </script>
